<!DOCTYPE html>
<html lang="en">
<%- include('../partials/default/head')%>

    <body>
        <%- include('../partials/default/header')%>

            <div class="chat-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 p-3">
                            <form action="/send-mail" method="POST" class="border p-3">
                                <h3 class="text-info pb-3">Compose Mail</h3>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="emailtxt" id="emailtxt" class="form-control" cols="30" rows="10" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-info col-lg-6">SEND</button>
                            </form>
                        </div>
                        <div class="col-lg-6 p-3 w-100">
                            <h3 class="h4 text-center">BLOGS</h3>
                            <div class="img-box mt-4">
                                <img src="https://www.ecampusnews.com/files/2016/01/blogs.jpg" class="w-100" alt="images">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <%- include('../partials/default/foot')%>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

                <script>
                    // const sendMail = document.getElementById('sendMailUsers')


                    // sendMail.addEventListener('submit', (e) => {
                    //     e.preventDefault()
                    //         // const message = e.target.elements.messagesText.value
                    //     const email = e.target.elements.email.value
                    //     const subject = e.target.elements.subject.value
                    //     const emailtxt = e.target.elements.emailtxt.value

                    //     console.log(email, subject, emailtxt)
                    //     mailSender(email, subject, emailtxt)
                    //         .then(result => {
                    //             console.log(result)
                    //         }).catch(err => {
                    //             console.log(err)
                    //         })
                    // })
                    // async function mailSender(email, subject, emailtxt) {
                    //     return await new Promise((resolve, reject) => {
                    //         axios.post('http://localhost:5000/users/mailer', {
                    //             email,
                    //             subject,
                    //             emailtxt
                    //         }).then((result) => {
                    //             resolve(result.data)
                    //         }).catch((err) => {
                    //             reject(err)
                    //         })
                    //     })
                    // }
                </script>

    </body>

</html>